<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="beanA" class="com.crab.spring.ioc.demo02.BeanA">
        <constructor-arg ref="beanB"/>
        <constructor-arg ref="beanC"/>
    </bean>

    <bean id="beanB" class="com.crab.spring.ioc.demo02.BeanB"></bean>
    <bean id="beanC" class="com.crab.spring.ioc.demo02.BeanC"></bean>

    <bean id="xxx" class="com.crab.spring.ioc.demo02.ExampleBean" >
        <constructor-arg value="123"/>
        <constructor-arg value="42"/>
    </bean>

</beans>
