<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--默认构造函数实例化-->
    <bean class="com.crab.spring.ioc.demo01.ConstructorBean" id="constructorBean"/>

    <!--静态工厂方法-->
    <bean class="com.crab.spring.ioc.demo01.StaticBean" id="staticBean" factory-method="factoryMethod"/>

    <!--实例工厂方法-->
    <!--工厂-->
    <bean class="com.crab.spring.ioc.demo01.MyBeanFactory" id="myBeanFactory"/>
    <!--    通过实例工厂方法创建的bean-->
    <bean id="myBean" factory-bean="myBeanFactory" factory-method="factoryMethod"/>

</beans>
